@font-face {
  font-family: "VGA437";
  src: url("fonts/Perfect DOS VGA 437.ttf");
}

*{
  font-family: "VGA437";
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

main {

}
body {
  background-color: #2D2A2E;
}
body a{
    color: #FF6188;
}

.goback{
  background-color: #464147;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.goback:hover {
  background-color: #948B96;
  color: black;
}

/* CARDS */
.cards{
  margin-left:auto;
  margin-right:auto;
  width: 1200px;
}
@media (max-width: 1230px)
{
  .cards
  {
    width: 800px;
  }
}
@media (max-width: 830px)
{
  .cards
  {
    width: 400px;
  }
}
.card {
  float: left;
  display: grid;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 16px;

  width: 400px;
  height: 300px;

  border-radius: 0px;
  background: #2D2A2E;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  text-align: center;

  transition: 0.3s ease;
  cursor: pointer;
}
.card-text{
  grid-area: text;
  margin: 25px;
  color: white;
  text-shadow: 0px 0px 20px #000, 
  0px 0px 20px #000, 0px 0px 20px #000, 
  0px 0px 20px #000, 0px 0px 10px #000,
  0px 0px 8px #000, 0px 0px 8px #000;
}
.card-text-about{
  grid-area: text;
  margin: 25px;
  color: white;
}
.card:hover{
  transform: scale(1.4);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

/* sub pages */
.mytext{
  text-align: left;
  color: white;
  width: 854px;
  padding-top: 0px;
  margin-left:auto;
  margin-right:auto;
}
.mytext ul li{
  list-style-type: disc;
}
.mytext li{
  font-size: 20px;
}
.mytext a{
  color: #FF6188;
  text-shadow: 2px 2px #000000;
}
.mytext p{
  font-size: 20px;
}