
#work {
    background: url("thumbnails/bnuuy.png");
    background-position: 10%;
    background-size: 600px; 
}

#xngine {
    background: url("thumbnails/1 - vokselia.png");
    background-position: 60%;
    background-size: cover;
}

#adk {
    background: url("thumbnails/adk-levelcreation.gif");
    background-position: 60%;
    background-size: cover;
}

#dof {
    background: url("dof/dof.gif");
    background-position: 45%;
    background-size: cover;
}

#bambuu {
    background: url("bambuu/bb1.PNG");
    background-position: 50%;
    background-size: cover;
}

#whiplash {
    background: url("thumbnails/swgameplay.gif");
    background-position: 50%;
    background-size: cover;
}

#first-hello {
    background: url("thumbnails/firsthello.png");
    background-position: 40%;
    background-size: cover;
}

#arx-opengl {
    background: url("rapture/arx gameplay gif.gif");
    background-position: 50%;
    background-size: cover;
}

#ajax3d {
    background: url("ajax3d/ajax.gif");
    background-position: 50%;
    background-size: cover;
}

#context {
    background: url("thumbnails/context.PNG");
    background-position-y: 20%;
    background-size: cover;
}

#raycast-demo {
    background: url("raycasting/rayjax-alt.gif");
    background-position: 50%;
    background-size: cover;
}

#voicebox {
    background: url("thumbnails/voicebox.PNG");
    background-position: 50%;
    background-size: cover;
}

#descension {
    background: url("thumbnails/descension.gif");
    background-position: 50%;
    background-size: cover;
}

#settlers {
	background: url("settlers/settlers-thumb.gif");
    background-position: 50%;
    background-size: cover;
}