#about {
    background: url("linkedin.png");
    background-position: 10%;
    background-size: 530px; 
}

#adk {
    background: url("thumbnails/adk-levelcreation.gif");
    background-position: 60%;
    background-size: 530px;
}

#dof {
    background: url("dof/ss.jpg");
    background-position: 45%;
    background-size: cover;
}

#bambuu {
    background: url("bambuu/bb1.PNG");
    background-position: 60%;
    background-size: 530px;
}

#whiplash {
    background: url("thumbnails/swgameplay.gif");
    background-position: 50%;
    background-size: cover;
}

#first-hello {
    background: url("thumbnails/fhello.jpg");
    background-position: 40%;
    background-size: cover;
}

#arx-opengl {
    background: url("rapture/arx gameplay gif.gif");
    background-position-x: -25px;
    background-size: cover;
}

#ajax3d {
    background: url("thumbnails/ajax.png");
    background-size: cover;
}

#context {
    background: url("thumbnails/context.PNG");
    background-size: cover;
}

#raycast-demo {
    background: url("raycasting/rayjax-alt.gif");
    background-size: cover;
}

#voicebox {
    background: url("thumbnails/voicebox.PNG");
    background-position-x: -95px;
    background-size: cover;
}

#descension {
    background: url("thumbnails/descension.PNG");
    background-position-x: -10px;
    background-size: cover;
}

#settlers {
	background: url("settlers/settlers-of-the-rapture.PNG");
    background-size: cover;
}